@charset "UTF-8";






#incorrect {
	color: red;
}




/* 유효성 검사 문구 */
#final_id_ck {
	display: none;
}

#final_pw_ck {
	display: none;
}

#final_pwck_ck {
	display: none;
}

#final_name_ck {
	display: none;
}

#final_nickname_ck {
	display: none;
}

#final_phone_ck {
	display: none;
}

#final_mail_ck {
	display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
#pwck_input_re_1 {
	color: green;
	display: none;
}

#pwck_input_re_2 {
	color: red;
	display: none;
}

/* 휴대폰번호 형식 유효성검사 */
#phone_input_re {
	color: red;
	display: none;
}

/* float 속성 해제 */
#clearfix {
	clear: both;
}

/* 중복아이디 존재하지 않는경우 */
#id_input_re_1 {
	color: green;
	display: none;
}
/* 중복아이디 존재하는 경우 */
#id_input_re_2 {
	color: red;
	display: none;
}