@charset "UTF-8";

@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+AC00-D7A3;
}

<!-- 마이페이지 css-->




.myPage_class{
}

#myPage_class_id{
	
	 font-family:'IBMPlexSansKR-Regular';
	 display: flex;
	 font-size: 13pt;
	 padding-bottom: 5px;
}

#site_nav_bidulgi{
	
	font-family:'IBMPlexSansKR-Regular';
}

#pwdUpdate_text_1{
	font-family:'IBMPlexSansKR-Regular';
}

<!--헤더 css-->

#h_H{
	
	width:100%;	
	text-align: center;
		
}

.h_L{
	

}




.h_menu{

	border: 1px solid black;
	height:60px;
	padding-top: 15px;
	margin-top: 60px;
	box-shadow: 5px 5px;
	list-style: none;
	 text-align: center;
	 font-family:'IBMPlexSansKR-Regular';
	 font-size: 14pt;
	
	
	
}


#bidulgi{
	color: black;
	float:left;
	margin-left: 5%; 
	margin-right: 5%; 
	
	
}


  .menu_pan {
    width: 98%;
    background: #fff;
    position: absolute;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    top:100%;
    z-index: 10;
    font-family:'IBMPlexSansKR-Regular';
    font-size: 15px;
    box-shadow: 5px 5px;
    block : none;
 

    
    
  
}
.menu_category {
    float: left;
    
  
 
}

.category {
    
    color: #000000;
    paddng-left: 10px;
    padding-right: 10px;
    
   
    
    
    
}
.category:hover {
    text-decoration: underline;
  
   
}





<!--헤더 끝-->


#incorrect {
	color: red;
}




/* 유효성 검사 문구 */
#final_id_ck {
	display: visible;
}

#final_pw_ck {
	display: none;
}

#final_pwck_ck {
	display: visible;
}

#final_name_ck {
	display: none;
}

#final_nickname_ck {
	display: none;
}

#final_phone_ck {
	display: none;
}



#final_mail_ck {
	display: none;
}

/* 비밀번호 확인 일치 유효성검사 */
#pwck_input_re_1 {
	color: #327ad1;
	display: none;
}

#pwck_input_re_2 {
	color: red;
	display: none;
}

/* 휴대폰번호 형식 유효성검사 */
#phone_input_re {
	color: red;
	display: none;
}

/* float 속성 해제 */
#clearfix {
	clear: both;
}

/* 중복아이디 존재하지 않는경우 */
#id_input_re_1 {
	color: #327ad1;
	display: none;
}
/* 중복아이디 존재하는 경우 */
#id_input_re_2 {
	color: red;
	display: none;
}