<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movieport.mapper.ReviewMapper">
	리뷰등록
	<insert id="insertReview">
		insert into review(id, m_code, rate, comments)
		values(#{id}, #{m_code}, #{rate}, #{comments})
	</insert>
</mapper> -->